.section-1__arrow {
    width: 72px;
    height: 72px;
}

@media screen and (max-width: 1920px) {
    .section-1__arrow {
        margin-left: 1666px;
    }

    .section-1__arrow img{
        margin-top: 129px;
    }
}

@media screen and (max-width: 1440px) {
    .section-1__arrow {
        margin-left: 1220px;
    }

    .section-1__arrow img{
        margin-top: 129px;
    }
}

@media screen and (max-width: 376px) {
    .section-1__arrow {
        margin-left: 168px;
    }

    .section-1__arrow img{
        margin-top: 186px;
        width: 40px;
        height: 40px;
    }
}