.contacts__phone {
    font-weight: 500;
    font-size: 24px;
    margin-top: 40px;
    line-height: 30px;
}

.contacts__phone span {
    font-weight: 400;
}

@media screen and (max-width: 1120px) {
    .contacts__phone {
        font-size: 22px;
        line-height: 29px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .contacts__phone {
        font-size: 18px;
        line-height: 28px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 376px) {
    .contacts__phone {
        font-size: 14px;
        line-height: 23px;
        margin-top: 20px;
    }
}