.header__contacts {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .header__contacts {
        display: none;
    }
}

@media screen and (max-width: 376px) {
    .header__contacts {
        display: none;
    }
}