.section-two__play-icon {
    position: absolute;
    width: 78px;
}

@media screen and (max-width: 1920px) {
    .section-two__play-icon {
        left: 397px;
        top: 1375.89px;
    }
}

@media screen and (max-width: 1440px) {
    .section-two__play-icon {
        left: 297px;
        top: 1249px;
    }
}

@media screen and (max-width: 1085px) {
    .section-two__play-icon {
        left: 50%;
        top: 1223px;
    }
}

@media screen and (max-width: 376px) {
    .section-two__play-icon { 
        left: 135px;
        top: 835px;
    }
}