.contacts__map {
    width: 50%;
}

.contacts__map iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .contacts__map {
        height: 403px;
    }
}

@media screen and (max-width: 744px) {
    .contacts__map {
        width: 100%;
    }
}

@media screen and (max-width: 376px) {
    .contacts__map {
        height: 353px;
    }
}