@media screen and (max-width: 1920px) {
    .section-one__arrow {
        margin-left: 86.77%;
    }

    .section-one__arrow img{
        margin-top: 129px;
    }
}

@media screen and (max-width: 1440px) {
    .section-one__arrow {
        margin-left: 86.8%;
    }

    .section-one__arrow img{
        margin-top: 129px;
    }
}

@media screen and (max-width: 1200px) {
    .section-one__arrow {
        margin-left: 50%;
    }
}

@media screen and (max-width: 768px) {
    .section-one__arrow {
        margin-left: 50%;
    }

    .section-one__arrow img{
        margin-top: 186px;
        width: 60px;
    }
}

@media screen and (max-width: 376px) {
    .section-one__arrow {
        margin-left: 168px;
    }

    .section-one__arrow img{
        margin-top: 186px;
        width: 40px;
        height: 40px;
    }
}