@media screen and (max-width: 1920px) {
    .header__logo {
        height: 46px;
        margin-top: 35px;
        margin-left: 8.6%;
    }
}

@media screen and (max-width: 1440px) {
    .header__logo {
        height: 46px;
        margin-left: 6.4%;
        margin-top: 35px;
    }
}

@media screen and (max-width: 1300px) {
    .header__logo {
        height: 46px;
        margin-left: 3.4%;
        margin-top: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .header__logo {
        height: 46px;
        margin-left: 10.4%;
        margin-top: 35px;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        height: 38px;
        margin-left: 9.4%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 376px) {
    .header__logo {
        width: 150px;
        margin-left: 36px;
        margin-top: 16px;
    }

    .header__logo img {
        width: 150px;
        height: 30px;
    }
}