.delivery__about-rectangle {
    border: 1px solid;
    box-sizing: border-box;
    width: 28.33%;
    height: 5.3vw;
    padding-top: 0.73%;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    margin: -4.15% auto 0;
}



@media screen and (max-width: 376px) {
    .delivery__about-rectangle {
        border: 0;
        height: 20px;
        width: 145px;
        font-size: 18px;
        margin: -7.15% auto 0;
    }
}