.burger-menu__contacts {
    width: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

@media screen and (max-width: 784px) {
    .burger-menu__contacts {
        width: 15%;
    }
}

@media screen and (max-width: 550px) {
    .burger-menu__contacts {
        width: 20%;
    }
}

@media screen and (max-width: 376px) {
    .burger-menu__contacts {
        width: 30%;
    }
}