.section-2__discription-body {
    font-weight: normal;
}

@media screen and (max-width: 1920px) {
    .section-2__discription-body {
        font-size: 30px;
    }
}

@media screen and (max-width: 1440px) {
    .section-2__discription-body {
       font-size: 24px;
    }
}

@media screen and (max-width: 376px) {
    .section-2__discription-body {
         font-size: 12px;
    }
}