.section-2 {
    display: flex;
    background: url('../../static/images/stickers.svg');
}

@media screen and (max-width: 1920px) {
    .section-2 {
       height: 949px;
    }
}

@media screen and (max-width: 1440px) {
    .section-2 {
        height: 733px;
        background-size: 1440px;
    }
}

@media screen and (max-width: 376px) {
    .section-2 {
        height: 638px;
        flex-direction: column;
        background-size: 375px no-repeat;
    }
}