.section-2__frame {
    position: absolute;
    border: 2px solid #000000;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
    .section-2__frame {
        width: 603.32px;
        height: 702.87px;
        left: 165.72px;
        top: 1089.66px;
    }
}

@media screen and (max-width: 1440px) {
    .section-2__frame {
        width: 466px;
        height: 574px;
        left: 128px;
        top: 1024px;
    }
}

@media screen and (max-width: 376px) {
    .section-2__frame {
        width: 280px;
        height: 351px;
        left: 50px;
        top: 719px;         
    }
}
