.section-1__text {
    margin: 0;
    width: 1078px;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 64px;
    text-align: center;
}

@media screen and (max-width: 376px) {
    .section-1__text {
        width: 282px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        line-height: 22px;
        margin-top: 28px;
    }
}